html{
  background-attachment: fixed;
  background-image: url(background3.jpg);
}

/* The navigation bar */
#navbar {
    left: 0; /*center and 100% width the div*/
    right:0; /*center and 100% width the div*/
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1000;

}

/* Links inside the navbar */
#navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
#navbar a:hover {
    background: #ddd;
    color: black;
}

#navbar.active. {
    background-color: #4CAF50;
    color: white;
}



.form-style-4{
    width: 450px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
}

.formdiv{
  position:relative;
  width: 460px;
  margin: 0 auto;
  top: 12em;

}

.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}

.sharelinks{
  position:relative;
  top:  15em;
  left: 32em;
  width: 20em;
  padding: 1em;
}

.fa-facebook{
  color:#468af0;
  font-size: 2.5em;
  margin-right: 0.5em;
  text-decoration: none;
}

.fa-twitter{
 color: lightblue;
 font-size: 2.5em;
 margin-right: 0.5em;
 text-decoration: none;
}

.fa-github{
  font-size: 2.5em;
  color: #333;
  margin-right: 0.5em;
  text-decoration: none;
}

.fa-linkedin{
  font-size: 2.5em;
  color: #1059c7;
  margin-right:0em;
  text-decoration: none;
}
