#div1{
  background-color: #78a3e8;
  margin-top: 5em;
  text-align: center;
}

.div2{
  background-color: #699ef4;
  height: 42em;
  width: 41em;
  margin-left:auto;
  margin-right: auto;

}

#salty{
  transform: rotate(90deg);
  width: 40em; /* height*/
  height: 40em; /*width*/
  margin-left: auto;
  margin-right: auto;
position: relative;
top:0.2em;
}

.p3{
  margin-top: 2px;
  text-align: center;

}

.div3{
  margin-top: 1em;
text-align: center;
}

.div3 ul{
  display: inline-block;
}

.div3 ul li{
text-align: left;
}

.p4{
  text-align: center;
}
