body{
  background-image: url(Images/background1.jpg);
  background-attachment: fixed;
  font-family: Inconsolata, monospace;
  color:white;
}




/* The navigation bar */
#navbar {
    left: 0; /*center and 100% width the div*/
    right:0; /*center and 100% width the div*/
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1000;

}

/* Links inside the navbar */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
#navbar a:hover {
    background: #ddd;
    color: black;
}

#navbar.active.portfolio {
    background-color: #4CAF50;
    color: white;
}

.about{
  width: 30%;
  margin: 0 auto;
  position: relative;
  top: 6em;
  font-size: 2em;
}
