html{
  background-image: url(Images\background2.jpg);
  font-family:Inconsolata, monospace;
  background-attachment:fixed;
}

/* The navigation bar */
#navbar {
    left: 0; /*center and 100% width the div*/
    right:0; /*center and 100% width the div*/
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1000;

}

/* Links inside the navbar */
#navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
#navbar a:hover {
    background: #ddd;
    color: black;
}

#navbar.active. {
    background-color: #4CAF50;
    color: white;
}


.project {
  position: relative;
  width: 75%;
  height: 85px;
margin: 0 auto;
  top: 10em;
}
.project:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: .6;
  z-index: -1;
}

a{
  text-decoration: none;
  color:white;
}

img{
  position: relative;
  left: 39em;
  bottom: 5.5em;
}

p{
  position: relative;
  margin-left: 1em;
  font-size: 3em;
  bottom: -0.3em;
}

.project2{
  position: relative;
  width: 75%;
  height: 85px;
margin: 0 auto;
  top: 10em;
}

.example2{
  width: 25em;
  height: 4em;
}

.project2 {
  position: relative;
  width: 75%;
  height: 85px;
margin: 0 auto;
  top: 10em;
}
.project2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: .6;
  z-index: -1;
}

.example2{
  width: 19.8em;
}
